*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

header{
  width: 100%;
  padding: 0 16px;
  height: 80px;
  background: linear-gradient(225deg, #abc8de 0.000%, #c7c9d8 16.667%, #e5cccf 33.333%, #ffd3c7 50.000%, #ffdbc2 66.667%, #ffe4c0 83.333%, #ffedc3 100.000%);
}

header .header_i{
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header_i .logo{
  color: #4b4b4b;
}

header .header_i ul{
  display: flex;
  gap: 40px;
  align-items: center;
  color: #fff;
}

.text{
  width: 1200px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
  color: #4b4b4b;
}

.text p{
  width: 100%;
  text-align: center;
}

.mySwiper{
  width: 100%;
}

.coverflowSwiper{
  width: 100%;
  padding: 50px 0;
}

.coverflowSwiper .swiper-slide{
  width: 300px;
}

.coverflowSwiper .swiper-slide img{
  width: 100%;
  display: block;
}